{% extends "base.html" %}

{% block title %}Libres{% endblock %}

{% block content %}
<!-- Contenido del Dashboard -->
<div class="container-fluid mt-3">
  <!-- Fila de iconos interactivos -->
  <div class="row text-center">
 


  <!-- Más secciones para datos o visualizaciones -->
  <div class="container-fluid">
    <!-- Título del Dashboard -->
    <div class="row mb-4">
      <div class="col">
        <h2 class="text-center">Aqui Se Implementara mas</h2>
      </div>
    </div>

    </div>

  </div>


</div>


{% endblock %}