{% extends "base.html" %}

{% block title %}Otros analisis{% endblock %}

{% block content %}
<!-- Contenido del Dashboard -->
<div class="container-fluid mt-3">
  <!-- Fila de iconos interactivos -->
  <div class="row text-center">
    <!-- Ejemplo de un icono para Estadísticas -->
    <div class="col-md-4 mb-4">
      <div class="icon-container" onclick="window.location.href='/estadisticas'">
        <img src="{{ url_for('static', filename='/img/statidddds.png') }}" alt="Estadísticas" class="img-fluid">
        <h4>Estadísticas</h4>
      </div>
    </div>
    <!-- Ejemplo de un icono para Machine Learning -->
    <div class="col-md-4 mb-4">
      <div class="icon-container" onclick="window.location.href='/machine-learning'">
        <i class="fas fa-robot fa-3x"></i>
        <h4>Machine Learning</h4>
      </div>
    </div>
    <!-- Ejemplo de un icono para Data Mining -->
    <div class="col-md-4 mb-4">
      <div class="icon-container" onclick="window.location.href='/data-mining'">
        <i class="fas fa-database fa-3x"></i>
        <h4>Data Mining</h4>
      </div>
    </div>
  </div>

  <!-- Más secciones para datos o visualizaciones -->
  <div class="container-fluid">
    <!-- Título del Dashboard -->
    <div class="row mb-4">
      <div class="col">
        <h2 class="text-center">Datos</h2>
      </div>
    </div>
  
   
      <!-- Más gráficos según sea necesario -->
    </div>
  
    <!-- Más secciones para datos o visualizaciones -->
  </div>


</div>


{% endblock %}